<main>
  <div class="container basket" id="basket">
    <div class="basket_title">
      <h1>Моя корзина</h1>
    </div>
    <div class="basket_category">
      <div class="category"></div>
      <div class="category">
        <h3>Наименование </h3>
      </div>
      <div class="category">
        <h3>Количество</h3>
      </div>
      <div class="category">
        <h3>Цена</h3>
      </div>
    </div>
    <div id="basket_field_choice"></div>
    <% data.forEach((item, i) => { %>
    <div class="basket_field">
      <div class='image_sell'><img src="../img/<%=item.image %>" alt=""></div>
      <div class='name_sell'>
        <p><%= item.name %> <br /> <span> (Остаток на складе:<%=item.quantityAll  %>)</span></p>
      </div>
      <div class='quantity'><button type='button' data-id="<%=item.id %>" data-count='minus'>-</button>
        <p> <span class='show' data-id="<%=item.id %>"><%= item.quantity %></span>
          шт.</p><button type='button' data-id="<%=item.id %>" data-count='plus'>+</button>
      </div>
      <div class=''>
        <p class='basket_price'><span class="cost"><%= item.cost %></span> грн</p>
      </div>
      <button class='button_delete' data-id='<%= item.id %>' type='submit'><i class="fas fa-trash-alt"></i></button>
    </div>
    <% }); %>
  </div>

  <div class="container basket_total">
    <div class=""></div>
    <div class=""></div>
    <div class="">
      <h3>Сумма:</h3>
    </div>
    <div class="total_price" id="tp"></div>
    <div>
      <button class="btn btn-primary" type="submit">Оформить заказ</button>
    </div>
  </div>
